.img{
    padding-top: 20px;
    text-align:center ;
}

.button{
    margin-top: 10px;
}

.check{
    margin-top: 10px;
}

.formulario{
    padding-top: 20px;
    color: whitesmoke;
    text-align: center;
}

.tabela1{
    background-color: white;
    text-align: center;
}

.tabela2{
    background-color: white;
    text-align: center;
}

.container-flex{
    height: 500px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

thead,th,tr{
    color: black;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(66, 240, 240);
}



/*body{
    background-image: url(https://soulcodeacademy.org/assets/images/logo/light-logo.png);
    background-repeat: no-repeat;
    background-position: top center;
}*/