.img{
    text-align:center ;
}

.formulario{
    color: whitesmoke;
    text-align: center;
}

.tabela1{
    background-color: rgb(195, 247, 247);
    text-align: center;
}

.tabela2{
    background-color: rgb(195, 247, 247);
    text-align: center;
}

thead,th,tr{
    color: whitesmoke;
}

*{
    
    background-color: rgb(67, 160, 221);
}



/*body{
    background-image: url(https://soulcodeacademy.org/assets/images/logo/light-logo.png);
    background-repeat: no-repeat;
    background-position: top center;
}*/