
body{
    background-image: url(../img/campofutebol.jpeg);
}

.titulo{
    background-color: green;
}

table{
    border-radius: 6px;
    backdrop-filter: blur(10px);
    border-collapse: collapse;
    border: 1px solid blue;
    width: 60%;
    font-size: x-large;
}

tr,th{
    border-color: blue;
}

.libertadores{
    color: green;
}

.sulAmericana{
    color: orange;
}

.rebaixados{
    color: red;
}